@import 'tailwindcss';
@import "tailwindcss";
@plugin "flyonui";

@theme {
  --color-ecruYellow: #DBBA6B;
  --color-ecruYellow300: #E1CC9A;
  --color-amaranthPink: #A7074D;
  --color-night: #0D0D11;
  --color-basicWhite: #FDF6F9;
  --color-antiFlashWhite: #ECECEC;
  --color-amaranthPinkDark: #8F1047;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@import 'tailwindcss';

@theme {
  --color-ecruYellow: #DBBA6B;
  --color-ecruYellow300: #E1CC9A;
  --color-amaranthPink: #A7074D;
  --color-night: #0D0D11;
  --color-basicWhite: #F5F5F5;
  --color-antiFlashWhite: #ECECEC;
  --color-amaranthPinkDark: #8F1047;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-night, #0D0D11);
  background-color: #ffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  margin: 0 auto;
  text-align: center;
}

@layer base {
  section {
    @apply pb-10 pl-10 pr-10 pt-10;
  }
  
}